In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn.apionly as sns
import datetime
import warnings
%matplotlib inline
plt.style.use('ggplot')
warnings.filterwarnings('ignore')

In [18]:
def get_clean_data(df_original):
    df = df_original.copy(deep=True)
    df['date'] =  pd.to_datetime(df['datetime'].apply(lambda x: x[:10]), format='%Y-%m-%d')
    df['year'] = df['date'].dt.year
    df['time'] = pd.to_datetime(df['datetime'].apply(lambda x: x[:19])).dt.time
    df['month'] = df['date'].dt.month
    df['day'] = df['date'].dt.day
    df['hour'] = df['datetime'].apply(lambda x: x[11:13]).astype(int)
    df['minute'] = df['datetime'].apply(lambda x: x[14:16]).astype(int)
    df['weekday'] = df['date'].dt.dayofweek
    df['season'] = np.where(df['month'].isin(list(range(4,10))), 'V', 'I')
    df['date_hour'] = df.apply(lambda x: datetime.datetime.combine(x['date'], x['time']), axis=1)
    df.set_index('date_hour', inplace=True)
    df = df[df.index < '2017']
    clean_df = df[['date', 'year', 'month', 'season', 'day','weekday','time', 'hour', 'minute', 'value']]
    
    return clean_df

### df with secondary band and spot price

In [26]:
raw_band_price = pd.read_csv('export_PrecioBandaDeRegulaciÃ³nSecundaria_2017-01-15_19-11.csv', encoding='latin1', delimiter=';')
band_price = get_clean_data(raw_band_price)
band_price = band_price.rename(columns={'value':'band'})

In [27]:
raw_spot_price = pd.read_csv('export_PrecioMercadoSPOTDiario_2017-02-02_09-47.csv', encoding='latin1', delimiter=';')
raw_spot_price = raw_spot_price[raw_spot_price['geoid'] == 3]
spot_price = get_clean_data(raw_spot_price)
spot_price = spot_price.rename(columns={'value':'spot'})

In [28]:
#Merge both df
spot_band = band_price.merge(spot_price[['spot']], how='left', left_index=True, right_index=True)

In [30]:
#Clean df in order to train a model, output: band price
spot_band = spot_band[['hour', 'weekday', 'season', 'spot', 'band']]

In [23]:
#Create dummy variables
for feature in ['hour', 'weekday', 'season']:
    spot_band[pd.get_dummies(spot_band[feature], drop_first=False).columns.tolist()] = pd.get_dummies(spot_band[feature], drop_first=False)

In [25]:
spot_band.columns

Index([   'hour', 'weekday',  'season',    'spot',    'band',         0,
               1,         2,         3,         4,         5,         6,
               7,         8,         9,        10,        11,        12,
              13,        14,        15,        16,        17,        18,
              19,        20,        21,        22,        23,       'I',
             'V'],
      dtype='object')

In [32]:
weekday_dict = {
        '0':'L', '1':'M', 2:'X', 3:'J', 4:'V', 5:'S', 6:'D' 
}

In [37]:
spot_band.replace({'weekday_dict':weekday_dict})

                     hour  weekday season   spot   band
date_hour
2014-01-01 00:00:00     0        2      I  20.02  69.01
2014-01-01 01:00:00     1        2      I  10.34  50.00
2014-01-01 02:00:00     2        2      I   5.35  57.80
2014-01-01 03:00:00     3        2      I   5.00  54.15
2014-01-01 04:00:00     4        2      I   0.50  54.15
2014-01-01 05:00:00     5        2      I   0.00  54.82
2014-01-01 06:00:00     6        2      I   0.00  55.00
2014-01-01 07:00:00     7        2      I   0.00  55.00
2014-01-01 08:00:00     8        2      I   0.00  55.00
2014-01-01 09:00:00     9        2      I   0.00  62.37
2014-01-01 10:00:00    10        2      I   2.00  48.00
2014-01-01 11:00:00    11        2      I   4.75  43.00
2014-01-01 12:00:00    12        2      I   5.35  43.00
2014-01-01 13:00:00    13        2      I   4.90  44.70
2014-01-01 14:00:00    14        2      I   0.90  55.00
2014-01-01 15:00:00    15        2      I   0.00  55.00
2014-01-01 16:00:00    16        2      I   0.00  55.00
2014-01-01 17:00:00    17        2      I   0.00  77.89
2014-01-01 18:00:00    18        2      I   5.00  75.54
2014-01-01 19:00:00    19        2      I   7.80  48.43
2014-01-01 20:00:00    20        2      I  18.90  38.62
2014-01-01 21:00:00    21        2      I  20.00  45.10
2014-01-01 22:00:00    22        2      I  20.00  41.00
2014-01-01 23:00:00    23        2      I   8.60  72.44
2014-01-02 00:00:00     0        3      I   5.13  72.00
2014-01-02 01:00:00     1        3      I   0.00  70.11
2014-01-02 02:00:00     2        3      I   0.00  59.93
2014-01-02 03:00:00     3        3      I   0.00  59.93
2014-01-02 04:00:00     4        3      I   0.00  59.93
2014-01-02 05:00:00     5        3      I   0.00  59.93
...                   ...      ...    ...    ...    ...
2016-12-30 18:00:00    18        4      I  72.43   8.45
2016-12-30 19:00:00    19        4      I  72.04   5.45
2016-12-30 20:00:00    20        4      I  70.60   5.86
2016-12-30 21:00:00    21        4      I  70.04   5.54
2016-12-30 22:00:00    22        4      I  69.09   9.85
2016-12-30 23:00:00    23        4      I  67.16  11.70
2016-12-31 00:00:00     0        5      I  63.60  18.56
2016-12-31 01:00:00     1        5      I  54.29  20.32
2016-12-31 02:00:00     2        5      I  50.00  24.27
2016-12-31 03:00:00     3        5      I  46.71  20.83
2016-12-31 04:00:00     4        5      I  46.22  20.30
2016-12-31 05:00:00     5        5      I  46.22  20.30
2016-12-31 06:00:00     6        5      I  48.17  20.30
2016-12-31 07:00:00     7        5      I  50.20  23.10
2016-12-31 08:00:00     8        5      I  56.69  20.05
2016-12-31 09:00:00     9        5      I  60.29  16.72
2016-12-31 10:00:00    10        5      I  64.88  14.07
2016-12-31 11:00:00    11        5      I  61.10  14.55
2016-12-31 12:00:00    12        5      I  59.52  16.59
2016-12-31 13:00:00    13        5      I  60.15  15.65
2016-12-31 14:00:00    14        5      I  59.70  18.10
2016-12-31 15:00:00    15        5      I  57.62  20.83
2016-12-31 16:00:00    16        5      I  57.50  20.83
2016-12-31 17:00:00    17        5      I  62.47  15.54
2016-12-31 18:00:00    18        5      I  70.69   9.43
2016-12-31 19:00:00    19        5      I  71.02  11.66
2016-12-31 20:00:00    20        5      I  70.26  10.79
2016-12-31 21:00:00    21        5      I  69.99  12.00
2016-12-31 22:00:00    22        5      I  65.69  12.94
2016-12-31 23:00:00    23        5      I  61.77  17.29

[26310 rows x 5 columns]